.search {
  display: block;
  margin: 0 5px 5px 0;
}

.search--input {
  border: 1px solid rgba(0, 89, 181, 0.82);
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  width: 20%;
}

.search--select {
  border: 1px solid rgba(0, 89, 181, 0.82);
  display: inline-block;
  height: 95%;
  margin: 0 0 5px;
  padding: 4px;
}
